html{
    height:100%;
    font-family:'Lucida Sans',  Monospace;
    }

body{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url(stopwatch-img.jpg) ;
}

.container{
    background-color: antiquewhite;
    border-radius: 10px;
    padding:15px;
}

.screen{
    margin:0;
    background-color: white;
    color:green;
    font-size:60px;
    border-radius:10px;
}

.buttons{
    display:flex;
    margin:10px -5px 0;
}

.buttons button{
    margin:0 5px;
    flex: 1;
    border:none;
    font-size:13px;
    padding: 5px;
    border-radius:10px;
    box-shadow: 1px 5px 3px rgb(147, 130, 163);
    cursor: pointer;
    color: rgb(149, 184, 149);
    font-weight:bold;
    background-color:rgb(29, 29, 73);
    outline:none;
    
}

button:active{
    position: relative;
    top: 7px;
    box-shadow: none;
}